{% extends 'base.html' %}

{% load static %}

{% block title %}<title>学生プロジェクト詳細</title>{% endblock %}

{% block contents %}
<main>
  <ul>
    <li>氏名:{{object.student.username}}</li>
    <li>システム名:{{object.system_name}}</li>
    <li>システム概要:{{object.system_summary}}</li>
    <li>システムURL:<a href={{object.system_url}}>{{object.system_url}}</a></li>
    <li>創意工夫した内容:{{object.system_background}}</li>
    <li><img src="{{object.system_thumbnail.url}}" style="max-width: 50vw; opacity: 0.2; border: solid;"></li>
    </ul>
    <a href="javascript:history.back();">戻る</a>
</main>
{% endblock %}