{% extends 'base.html' %}

{% load static %}

{% block title %}<title>学生プロジェクト一覧</title>{% endblock %}

{% block contents %}
<div class="header">
  <h1 style="text-align: center;">福岡情報ITクリエイター専門学校_情報IT学科年間制作作品集
    {% if user.is_authenticated %}
    <a class="btn btn-dark" href="{% url 'portfolio:post' user.pk   %}">システム投稿</a>
    {% else %}
    <a class="btn btn-dark" href="{% url 'portfolio:login' %}">学生ログイン</a>
    {% endif %}
  </h1>
</div>
<div class="container mt-5">
  <div class="row">
    <!-- Sample card template -->
    {% with ''|center:50 as range %}
    {% for record in object_list %}
    {% if record.system_name %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'portfolio:detail' record.pk %}" style="text-decoration-line: none;">
        <div class="card h-100">
          {% if record.system_thumbnail %}
          <img src="{{ record.system_thumbnail.url }}" alt="サムネイル画像" class="card-img-top" style="aspect-ratio: 16 / 9;">
          {% else %}
          <img src="{% static 'assets/noimage.png' %}" alt="サムネイル画像" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <p class="student-no">{{record.student.student_no}}</p>
            <h5 class="student-name">{{record.student.username}}</h5>
            {% if record.system_name %}
            <h5 class="system-name">{{record.system_name}}</h5>
            <p class="system-summary">{{record.system_summary}}</p>
            {% else %}
            <h5 class="system-name">システム未提出</h5>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
    {% else %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if record.system_thumbnail %}
        <img src="{{record.system_thumbnail}}" alt="サムネイル画像" class="card-img-top">
        {% else %}
        <img src="{% static 'assets/noimage.png' %}" alt="サムネイル画像" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <p class="student-no">{{record.student.student_no}}</p>
          <h5 class="student-name">{{record.student.username}}</h5>
          {% if record.system_name %}
          <h5 class="system-name">{{record.system_name}}</h5>
          {% else %}
          <h5 class="system-name">システム未提出</h5>
          {% endif %}
          <p class="system-summary">{{record.system_summary}}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
  </div>
</div>

</main>
{% endblock %}